* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color: rgba(245, 245, 245, 0.87);
  --bg-color: #121212;
  --bt-color: rgba(55, 139, 252, 0.2);
  --box-shadow: 6px 6px 12px #070707,
    -6px -6px 12px #1d1d1d;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  background-color: var(--bg-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(122, 122, 122);
  border-radius: 10px;
}

/* index.html */

.header {
  height: fit-content;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header__frase {
  display: flex;
  font-family: 'Square Peg', cursive;
  color: var(--font-color);
  font-size: 32px;
  margin-left: 0.5rem;
  padding-bottom: 6px;
}

.nav__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-right: 1rem;
}

li a {
  color: var(--font-color);
}


.header__bars {
  display: none !important;
}

.hero {
  display: flex;
}

.hero__img {
  margin: 0;
  width: 100%;
  object-fit: cover;
}

.hero__texto {
  background-color: var(--bg-color);
  color: var(--font-color);
  text-align: justify;
  border-radius: 0.5em;
  padding: 1em;
  margin: 5px 1rem;
  box-shadow: var(--box-shadow);
}

.alojamientos__destacados {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 1rem;
  text-shadow: 0 0 11px rgba(46, 161, 255, 0.4);
}

.grid__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: space-evenly;
  align-content: space-evenly;
  row-gap: 15px;
  margin: 0.5rem 0 1rem 0;
}

.card__destacada {
  background-color: var(--bg-color);
  color: rgba(245, 245, 245, 0.60);
  border-radius: 10px;
  width: 400px;
  height: 370px;
  padding: 16px;
  box-shadow: var(--box-shadow);
}

.card__title {
  color: var(--font-color);
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-bottom: 6px;
  background-color: var(--bg-color);
  margin-bottom: 0;
}

.footer__p {
  margin-right: 1rem;
  color: white;
}

.footer__frase {
  display: flex;
  font-family: 'Square Peg', cursive;
  color: var(--font-color);
  font-size: 32px;
  margin-left: 0.5rem;
}

.tituloPregunta {
  font-weight: 600;
  font-size: 16px;
}

.titulo__pregunta {
  font-weight: 600;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* alojamientos.html */
.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

.filters__select {
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 0.5em;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.filters__label__select {
  margin: 0px 0px;
}

.filters__provincia {
  border: 0px solid #000000;
  padding: 1px;
  margin: 0 2px;
}

.filters__ciudad {
  padding: 1px;
  margin: 0 2px;
}

.filters__button {
  background-color: var(--bt-color);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: var(--font-color);
  margin: 1em;
  padding: 0.4em 0.8em;
  border: 0px;
  border-radius: 0.5em;
  cursor: pointer;
}

.filters__consultamultiple {
  background-color: var(--bg-color);
  color: rgba(245, 245, 245, 0.87);
  border-radius: 5px;
  padding: 8px;
  margin: 5px 0;
  box-shadow: var(--box-shadow);
}

/* el margin-top no funciona y no sé porque */
.filters__consultamultiple span {
  margin-top: 4px;
}

.consultamultiple h1 {
  font-size: 17px;
  font-weight: 500;
}

.grid__alojamientos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: space-evenly;
  align-content: space-evenly;
  row-gap: 15px;
  margin: 0.5rem 0 1rem 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 0.5rem;
}

.card {
  background-color: var(--bg-color);
  color: rgba(245, 245, 245, 0.60);
  border-radius: 10px;
  width: 400px;
  height: 370px;
  padding: 16px;
  margin: 0.5rem 0;
  box-shadow: var(--box-shadow);
}

.card__title {
  font-size: 18px;
  margin: 0 0 2px 0;
}

.card__img {
  width: 100%;
  max-width: 360px;
  max-height: 200px;
}

.card__ul__text {
  text-align: justify;
  padding-right: 8px;
}

.card__ul li {
  list-style-type: none;
}

/* alojamientox.html */

.alojamientox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 4px 3rem;
}

.alojamientox__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 6px 0;
}

.alojamientox__container {
  background-color: var(--bg-color);
  width: 60%;
  height: fit-content;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: var(--box-shadow);
}

.alojamientox__title {
  color: var(--font-color);
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 2px 0;
}

.alojamientox__img {
  width: 100%;
}

.alojamientox__aside {
  width: 39%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.alojamientox__info {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--font-color);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  height: fit-content;
  box-shadow: var(--box-shadow);
}

.alojamientox__info ul {
  list-style: none;
}

.alojamientox__descripcion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  background-color: var(--bg-color);
  color: var(--font-color);
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  height: fit-content;
  box-shadow: var(--box-shadow);
}

.alojamientox__contacto {
  margin: 1rem 0;
}

.alojamientox__servicios ul {
  display: inline-block;
}

.alojamientox__contacto i {
  color: var(--font-color);
  font-size: 32px;
}

.alojamientox__contacto ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.fa-solid fa-phone:hover {
  animation: breathing 5s ease-out infinite normal;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.form__gmaps-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

.alojamientox__form {
  background-color: var(--bg-color);
  color: var(--font-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: var(--box-shadow);
}

.alojamientox__labelinput {
  margin: 4px;
}

.alojamientox__input {
  border: 1px solid;
  border-radius: 2px;
}

.alojamientox__textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 150px;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  border: 2px solid rgb(170, 169, 169);
  border-radius: 4px;
  resize: none;
}

.alojamientox__button {
  background-color: var(--bt-color);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: var(--font-color);
  margin: 0.1em;
  padding: 0.4em 0.8em;
  border: 0px;
  border-radius: 0.5em;
  cursor: pointer;
}

.alojamientox__maps {
  background-color: var(--bg-color);
  color: var(--font-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: var(--box-shadow);
}

/* consultamultiple.html */
.consultamultiple {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 1rem;
}

#consultamultiple__img {
  width: 100%;
}

.consultamultiple__form {
  padding: 4px;
}

.consultamultiple__form input {
  margin: 4px 2px;
}

.consultamultiple__form textarea {
  margin: 4px 0;
}

/* faq.html */

.faq__flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.faq {
  background-color: #121212;
  border-radius: 5px;
  padding: 1em;
  margin: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
}

.faq__pregunta {
  color: var(--font-color);
  font-weight: 600;
  font-size: 17px;
}

.faq__respuesta {
  color: rgba(245, 245, 245, 0.60);
  padding: 5px;
  text-align: justify;
}

/* contacto.html */

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contacto__preguntas {
  background-color: var(--bg-color);
  color: rgba(245, 245, 245, 0.87);
  padding: 1em;
  border-radius: 5px;
  padding: 1em;
  margin: 2rem;
  box-shadow: var(--box-shadow);
}

.contacto__form {
  background-color: var(--bg-color);
  color: var(--font-color);
  border-radius: 5px;
  padding: 1em;
  margin: 5px;
  box-shadow: var(--box-shadow);
}

.contacto__titulo {
  font-weight: 600;
  font-size: 17px;
}

.contacto__pregunta {
  font-weight: 600;
  margin-top: 0.2em;
}

.contacto__respuesta {
  color: rgba(245, 245, 245, 0.60);
  text-align: justify;
  padding: 0.2em 1em;
}

.contacto__labelinput {
  margin: 0.4em;
}

.contacto__form input {
  border: 1px solid;
  border-radius: 2px;
}

.contacto__form textarea {
  background-color: var(--bg-color);
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 2px solid rgb(170, 169, 169);
  border-radius: 4px;
  resize: none;
}

.contacto__button {
  background-color: var(--bt-color);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: var(--font-color);
  margin: 0.1em;
  padding: 0.4em 0.8em;
  border: 0px;
  border-radius: 0.5em;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .grid__card {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid__alojamientos {
    grid-template-columns: repeat(3, 1fr);
  }

  /* tablet */
  @media screen and (max-width:1260px) {

    /* index.html */
    .grid__card {
      grid-template-columns: repeat(2, 1fr);
    }

    .grid__alojamientos {
      grid-template-columns: repeat(2, 1fr);
    }
  }



  /* mobile */
  @media screen and (max-width:880px) {
    .grid__card {
      grid-template-columns: repeat(1, 1fr);
    }

    .grid__alojamientos {
      grid-template-columns: repeat(1, 1fr);
    }

    .nav {
      display: none;
    }

    .header__bars {
      display: block;
      font-size: 32px;
      color: white;
      margin: 0.5rem;
    }

    .footer__frase {
      display: flex;
      font-family: 'Square Peg', cursive;
      color: white;
      font-size: 32px;
      margin-left: 4px;
    }
  }

  @media screen and (max-width:660px) {

    .footer {
      height: fit-content;
      flex-direction: column-reverse;
    }

    .footer__p {
      font-size: 14px;
      margin-bottom: 4px;
    }
  }

  @media screen and (max-width:420px) {

    /* index.html */
    .card__destacada {
      width: 90%;
      height: fit-content;
    }

    .card__ul__text {
      text-align: left;
    }

    .card__ul__text-destacada {
      text-align: left;
    }

    .footer__p {
      font-size: 13px;
      text-align: center;
      margin: 0;
    }

    /* alojamientos.html */
    .card {
      width: 90%;
      height: fit-content;
    }
  }
}