* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  background-image: linear-gradient(135deg, #b1b2b3 0%, #4a4b4d 100%);
}

.header {
  height: 50px;
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.header__logo {
  max-height: 50px;
  width: auto;
}

.nav__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

li a {
  color: white;
}

.hero {
  display: flex;
}

.footer {
  height: 50px;
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.footer__logo {
  max-height: 50px;
  width: auto;
}

.footer p {
  color: white;
}

.tituloPregunta {
  font-weight: 600;
  font-size: 16px;
}

.titulo__pregunta {
  font-weight: 600;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* alojamientos.html */

.filters {
  display: flex;
  flex-direction: column;
}

.filters__select {
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  margin: 5px 8px;
  width: fit-content;
}

.filters__label__select {
  margin: 4px 0px;
}

.filters__provincia {
  border-radius: 2px;
}

.filters_button {
  border-radius: 4px;
}

.filters__consultamultiple {
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  margin: 5px 8px;
  width: fit-content;
}

.consultamultiple h1 {
  font-size: 17px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: 370px;
  padding: 16px;
  margin: 20px;
}

.card__title {
  font-size: 18px;
  margin: 0 0 2px 0;
}

.card__img {
  width: 100%;
  max-width: 360px;
  max-height: 200px;
}

.card__ul li {
  list-style-type: none;
}

/* alojamientox.html */

.alojamientox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  margin: 6px;
}

.alojamientox__title {
  font-weight: 600;
  font-size: 17px;
  margin: 0 0 2px 0;
}

.alojamientox__img__container {
  width: 50%;
}

.alojamientox__img {
  width: 100%;
}

.alojamientox__info {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: fit-content;
}

.alojamientox__info ul {
  list-style: none;
}

.alojamientox__descripcion {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.alojamientox__form {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.alojamientox__youtube {
  width: 80%;
}

.alojamientox__maps {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}


/* consultamultiple.html */
.consultamultiple {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#consultamultiple__img {
  width: 100%;
}

.consultamultiple__form {
  padding: 4px;
}

.consultamultiple__form input {
  margin: 4px 2px;
}
.consultamultiple__form textarea {
  margin: 4px 0;
}

/* faq.html */
.faq {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 7px 5px;
}

.faq__pregunta {
  font-weight: 600;
  font-size: 17px;
}

/* contacto.html */

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contacto__preguntas {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.contacto__form {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.contacto__titulo {
  font-weight: 600;
  font-size: 17px;
}

.contacto__pregunta {
  font-weight: 600;
}

.contacto__pregunta2 {
  font-weight: 600;
}
.contacto__form input {
  margin: 4px 2px;
}
.contacto__form textarea {
  margin: 4px;
}
