.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 6px;
    background-color: $bgcolor;
    margin-top: auto;
    .footer__p {
        margin-right: 1rem;
        color: white;
    }
    .footer__frase {
        display: flex;
        font-family: 'Square Peg', cursive;
        color: $fontcolor;
        font-size: 32px;
        margin-left: 0.5rem;
    }
} 